.title-box {
  margin: 0.5rem 0 3rem;
  @media only screen and (min-width: 768px) {
    margin: 0.5rem 0 5rem;
  }
}

.word {
  display: block;
  overflow-y: hidden;
}

.letter {
  transform: translateY(-100%);
}
