.title-box {
  margin: 0.5rem 0 3rem;
  @media only screen and (min-width: 768px) {
    margin: 0.5rem 0 5rem;
  }
}

h1.title {
  line-height: 1;
}

.word {
  display: block;
  overflow-y: hidden;
  position: relative;
  padding: 0;
  margin: 0;
}

.letter {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  /* left: 0; */
  /* transform: translateY(-100%); */
}
