header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-top: var(--base-border);
    @media only screen and (min-width: 768px) {
      padding-right: 0;
    }
  }

  .mobile-menu-button {
    font-size: 28px;
    border: none;
    background-color: transparent;
    color: var(--primary);
    padding: 16px 0;
    margin: 0;
    cursor: pointer;
    display: block;
    &:hover {
      color: var(--accent);
    }
    &:active {
      color: var(--primary);
    }
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
  a.logo {
    padding: 0;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
    /* letter-spacing: 1px; */
    color: var(--primary);
    @media only screen and (min-width: 768px) {
      font-size: 32px;
    }
  }
}

button.theme-toggle {
  color: var(--primary);
  background-color: var(--secondary);
  border: none;
  border-left: var(--base-border);
  padding: 0 24px;
  appearance: none;
  cursor: pointer;
  font-size: 28px;
  &:hover {
    color: var(--secondary);
    background-color: var(--primary);
  }
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100dvh;
  background-color: var(--secondary);
  border: var(--base-border);
  color: var(--primary);
  z-index: 3;
  display: block;
  transition: transform 500ms;
  box-sizing: border-box;
  &.active {
    transform: translateX(-100%);
  }
  @media only screen and (min-width: 768px) {
    display: none;
  }
  .menu-header {
    width: auto;
    height: auto;
    padding: 12px 24px;
    border-bottom: var(--base-border);
    h2:before {
      content: none;
    }
  }

  .mobile-menu-back-button {
    font-size: 2rem;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    appearance: none;
    cursor: pointer;
    color: var(--primary);
  }
}
