section {
  height: auto;
  min-height: 100%;
  width: 100%;
  background-color: transparent;
  position: relative;
  box-sizing: border-box;
  display: block;
  .wrapper {
    min-height: 100%;
  }
}
