.toggle {
  input {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
  }
  label {
    display: inline-block;
    height: 100%;
    width: 65px;
    /* padding: 0 24px; */
    border-left: var(--base-border);
    font-size: 28px;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
      color: var(--secondary);
      background-color: var(--primary);
    }
    .label-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}

/* Mobile Menu */

.mobile-menu .toggle {
  border: none;
  width: 100%;
  pointer-events: none;
  label {
    pointer-events: all;
    position: relative;
    width: 100%;
    height: auto;
    padding: 16px 24px;
    border: none;
    border-top: var(--base-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--secondary);
    .label-wrapper {
      justify-content: space-between;
      width: 100%;
    }
  }
}

/* .mobile-menu.active .toggle {
  transform: translateX(-100%);
} */
